
.jumbotron {
    background-image: url("http://www.gsfdcy.com/data/img/43/1625011-industrial-wallpaper.jpg");
    height: 1000px;
    no-repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#companyName {
    font-family: "American Typewriter";
    font-size: 4em;
    font-weight: bold;
    background-position: center;
    color: #4e2b0a;
    text-align: center;
    /*padding-top: 28%;*/

}

#companyImage {
    /*opacity: 0.4;*/
    margin-top: 210px;
    margin-left: 30%;
    height: 429px;
    width: 460px;
    padding-top: 90px;
    background-image: url("https://i.stack.imgur.com/CZeBo.png");
    background-position: center;
    no-repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

#smScreenCompanyName {
    text-align: center;
    font-family: cursive;
    font-size: 5em;
    color: navajowhite;
    background-image: url("http://www.tibaagan.com/wp-content/uploads/2015/10/1500-banner.jpg");
}

/*-----_-_----_-_----_--_-_--_--experience the difference-*/

#companyImage > h5 > span > em {
    font-family: cursive;
}
/*#title-backdrop{*/
    /*background: url("http://regex.info/i/JF7_006558_1600x1200.jpg");*/
/*}*/

/*--------------_--_-_-_-__-title container for available coffees section-----_-_-_-_----_-_----_--_-__*/

#title-container {
    background: url("https://d2d00szk9na1qq.cloudfront.net/Product/007ae296-306b-4a3d-bcb9-91e94c2dc54c/Images/Large_UO-803.jpg");
    padding: 80px;
    opacity: 0.7;
    border: 10px solid white;
    border-radius: 50%;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: #fffff7;
    font-size: 45px;
    font-weight: bold;
    justify-content: center;
}
body {
    background-image: url("https://thumbs.dreamstime.com/b/roasted-coffee-beans-background-vertical-close-up-32486740.jpg");
    no-repeat: center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    margin-bottom: 1000px;
}

/*--_--_----_------__space to push forms to the right------_-_-_-*/

.space{
    margin-left: 12%;
}


.container{
    margin-right: 50px;
    background: rgba(60, 60, 60, 0.53);
    position: absolute;
    margin-left: 8%;
    height: 100%;
    margin-bottom: 100px;
    no-repeat: center center fixed;
    /*opacity: 0.7;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

/*--_----_-_--_----_-HR SPACE CREATES SPACE BETWEEN BREAK AND SELECTION*/

#hrSpace {
    margin-bottom: 50px;
}

#form1 {
    margin-bottom: 50px;
}

label.addTitle {
    font-size: 22px;
    color: #e2cdb6;
    text-align: center;
    font-family: sans-serif;
    width: 100%;

}


select.form-control {
    background-color: rgba(78, 52, 9, 0.58);
    font-size: 23px;
    color: #e2cdb6;
    text-align-last: center;
    font-family: "Arial Black";
    height: 50px;
    margin-bottom: 10px;
}

input.form-control {
    background-color: rgba(116, 69, 10, 0.72);
    font-size: 17px;
    color: #e2cdb6;
    text-align-last: center;
    font-family: "Arial Black";
    height: 45px;
    margin-bottom: 15px;
}

input.btn-block {
    background-color: rgba(47, 23, 9, 0.85);
    font-size: 20px;
    color: rgba(187, 138, 3, 0.69);
    text-align-last: center;
    font-family: "Arial Black";
    height: 45px;


}


#coffeeDiv{
    margin-bottom: 30%;
    position: relative;
}

.coffee {
    color: #e2cdb6;
    float: left;
    width: 50%;

}































/*.jumbotron {*/
    /*background: url("http://peekingduck.co/content/images/2016/02/viajero-oaxaca.jpg");*/
    /*height: 1000px;*/
    /*no-repeat: center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/

/*!*#title-container {*!*/
/*!*font-family: 'Anton', sans-serif;*!*/
/*!*text-align: center;*!*/
/*!*}*!*/

/*#companyName {*/
    /*margin-top: 250px;*/
    /*margin-left: 31%;*/
    /*background-position: center;*/
    /*font-family: sans-serif;*/
    /*color: #52260f;*/
    /*text-align: left;*/
    /*padding-top: 28%;*/

/*}*/

/*#companyImage {*/
    /*margin-top: 250px;*/
    /*margin-left: 40%;*/
    /*height: 350px;*/
    /*width: 350px;*/
    /*background-image: url("https://i.stack.imgur.com/CZeBo.png");*/
    /*background-position: center;*/
    /*no-repeat: center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*font-family: sans-serif;*/
    /*text-align: center;*/
/*}*/

/*#title-backdrop{*/
    /*background: url("http://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=2165e1b824f7f1e2faa7e6fdbcdf39c7");*/
/*}*/

/*#title-container {*/
    /*background: url("http://images.unsplash.com/photo-1447933601403-0c6688de566e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=2165e1b824f7f1e2faa7e6fdbcdf39c7");*/
    /*padding: 100px;*/
    /*border: 10px solid white;*/
    /*border-radius: 50%;*/
    /*font-family: sans-serif;*/
    /*text-align: center;*/
    /*color: white;*/
    /*font-size: 28px;*/
    /*!*display: flex;*!*/
    /*justify-content: center;*/
/*}*/

/*body {*/
    /*background-image: url("https://img0.etsystatic.com/117/1/11718518/il_570xN.986174992_6ijs.jpg");*/
    /*no-repeat: center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
    /*position: relative;*/
/*}*/

/*.container{*/
    /*background: rgba(60, 60, 60, 0.53);*/
    /*position: absolute;*/
    /*!*background-image: url("https://sc02.alicdn.com/kf/HTB1faoZRVXXXXaXXFXXq6xXFXXX1/Peacock-Slate-Tiles-Floors-of-Stone-soft.jpg");*!*/
    /*no-repeat: center center fixed;*/
    /*position: absolute;*/
    /*margin-left: 8%;*/
    /*margin-bottom: 100px;*/
    /*height: 1000px;*/
    /*!*opacity: 0.7;*!*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/

/*}*/
/*#form1 {*/
    /*margin-bottom: 100px;*/
/*}*/
/*label#addTitle {*/
    /*font-size: 22px;*/
    /*color: #e2cdb6;*/
    /*text-align: center;*/
    /*font-family: sans-serif;*/
    /*width: 100%;*/
/*}*/
/*!*main {*!*/
/*!*background-image: url("http://www.gsfdcy.com/data/img/43/1625011-industrial-wallpaper.jpg");*!*/
/*!*no-repeat: center center fixed;*!*/
/*!*!*opacity: 0.7;*!*!*/
/*!*!*-webkit-background-size: cover;*!*!*/
/*!*!*-moz-background-size: cover;*!*!*/
/*!*!*-o-background-size: cover;*!*!*/
/*!*!*background-size: cover;*!*!*/


/*!*}*!*/

/*#coffeeDiv{*/
    /*margin-bottom: 30%;*/
    /*position: relative;*/
/*}*/

/*.coffee {*/
    /*color: #e2cdb6;*/
    /*float: left;*/
    /*width: 50%;*/
/*}*/